<div class="banner-home">
  <div class="banner-home-title">
    <h2>Une autre vision de votre ville </h2>
    <p class="banner-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod similique voluptatum mollitia, tenetur libero.</p>
  </div>
  <div id="carousel-example-generic" class="banner-carousel carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= render "pois/poi_big", poi: Poi.first %>
      </div>
      <div class="item">
        <%= render "pois/poi_big", poi: Poi.second %>
      </div>
      <div class="item">
        <%= render "pois/poi_big", poi: Poi.last %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<%= render "pois/search" %>


<div class="last-pois">
  <div class="container">
    <div class="last-pois-title">
      <h2 class="text-center">
        Les immersions du moment
      </h2>
      <p class="text-center text-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique molestiae officiis vero porro nulla.
      </p>
    </div>
    <div class="row">
      <% @pois.each do |poi| %>
        <div class="col-sm-4">
          <%= render "pois/poi", poi: poi %>
        </div>
      <% end %>
    </div>
  </div>
</div>
