<div class="container">

<<<<<<< HEAD
  <div class="banner" style="background-image: linear-gradient(-225deg,
   rgba(0,10,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=asset_path 'fontaine-quinconces.jpg'%>)">

    <div class="banner-content">

    <%= simple_form_for @poi do |f| %>
    <%= f.input :title %>
    <%= f.input :caption %>
    <%= f.input :address %>
    <%= f.input :photos, as: :attachinary %>
    <%= f.association :category %>

    <%= f.button :submit %>

    <% end %>
    </div>
  </div>
=======
    <h1>Poster une nouvelle photo</h1>
    <p></p>

    <%= simple_form_for @poi do |f| %>
      <%= f.input :title %>
      <%= f.input :caption %>
      <%= f.input :address %>
      <%= f.input :photos, as: :attachinary %>
      <%= f.association :category %>

      <%= f.button :submit %>
    <% end %>
</div>
>>>>>>> d5239680372d827a9796bc5b022ed2cdf9c002d5
