<div class="container">

    <h1>Poster une nouvelle photo</h1>
    <p></p>

    <%= simple_form_for @poi do |f| %>
      <%= f.input :title %>
      <%= f.input :caption %>
      <%= f.input :address %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.association :category %>

      <%= f.button :submit %>
    <% end %>
</div>
