<h1><%= @poi.title %></h1>

<p><%= @poi.caption %></p>

<p><%= @poi.category.name %></p>
<%= link_to "retourner à l'index", pois_path %>

<h2>
  <%= pluralize @poi.reviews.size, "review" %>
</h2>

<div id="reviews">
  <% if @poi.reviews.blank? %>
    Be the first to leave a review for <%= @poi.title %>
  <% else %>
    <% @poi.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
      <% end %>
  <% end %>
</div>

    <div id="affichage_photos">
      <% @poi.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
    </div>


<%= render 'reviews/form', poi: @poi, review: @review %>
